<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dms.bootapp.dao.sys.ErrorLogDao">


	<select id="list" resultType="com.dms.bootapp.domain.sys.ErrorLogDO" parameterType="java.lang.String">
		select `ID`,`V_MODEL`,`V_REQUEST_URL`,`V_PARAMETERS`,`V_SERVER_IP`, `V_SERVER_NAME`, `V_EXCEPTION`,`D_CREATE`,`V_REMARK` from sys_error_log limit ${page},${limits};
	</select>


	<insert id="save" parameterType="com.dms.bootapp.domain.sys.ErrorLogDO">
		insert into sys_error_log
		(
			`V_MODEL`,
			`V_SERVER_IP`,
			`V_SERVER_NAME`,
			`V_REQUEST_URL`,
			`V_PARAMETERS`,
			`V_EXCEPTION`,
			`D_CREATE`,
			`V_REMARK`
		)
		values
		(
			#{vModel},
			#{vServerIp},
			#{vServerName},
			#{vRequestUrl},
			#{vParameters},
			#{vException},
			now(),
			#{vRemark}
		)
	</insert>

	<delete id="remove">
		delete from sys_error_log where id = #{value}
	</delete>

	<select id="count" resultType="java.lang.Integer">
		select count(*) from sys_error_log
	</select>

	<select id="listBySearchDate" resultType="com.dms.bootapp.domain.sys.ErrorLogDO" parameterType="java.lang.String">
		select `ID`,`V_MODEL`,`V_REQUEST_URL`,`V_SERVER_IP`, `V_SERVER_NAME`,`V_PARAMETERS`,`V_EXCEPTION`,`D_CREATE`,`V_REMARK`
		from sys_error_log a
		where a.D_CREATE between  #{dbegin} and #{dend}
		order by a.D_CREATE desc
		limit ${page},${limits};
	</select>

	<select id="countBySearchDate" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from sys_error_log a
		where a.D_CREATE between  #{dbegin} and #{dend}
	</select>

</mapper>